* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrapper {
  width: 100%;
  height: 90vh;
  background-color: red;
}


.text_uppercase {
  text-transform: uppercase;
}

/* Fixed */
/* footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: pink;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: calc(100% - 90px);
  background: blue;
}
.main-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  padding: 20px;
} */

/* Float */
/* .main {
  height: calc(100% - 90px);
  overflow: hidden;
}
.main:after {
  content: '';
  display: table;
  clear: both;
}
.main-nav {
  float: left;
  width: 320px;
  height: 100%;
  background: blue;
}
.main-content {
  float: left;
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
} */


/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background: blue;
}

.main-nav-header {
  background-color: purple;
}

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  background-color: lime;
}

.playlist {

}

.main-nav-footer {
  background-color: brown;
}

/* main content */
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}

.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}

.container_list {
  background-color: red;
  width: 100%;
  height: 80px;
  margin-top: 90px;
}

.container_top_content {
  text-align: center;
}

.container_top_content li  {
  padding: 0 10px;
  line-height: 80px;
}


.list_inline li {
  list-style: none;
  display: inline-block;
}

.container_first_song {
  display: flex;
  justify-content: center;
}


.container_first_song li img {
  width: 100%;
}

.container_first_song li h2 {
  width: 100%;
}

.container_first_song li {
  text-align: center;
  width: calc((100% / 6) - 5px);
  padding: 0 5px;
}



/* footer */

.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}
