* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  min-width: 80%;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.font_12 {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  height: 90vh;
  background-color: red;
}


.text_uppercase {
  text-transform: uppercase;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_left_5 {
  margin-left: 20px;
}

.margin_top_30 {
  margin-top: 30px;
}

.radius_50 {
  border-radius: 50%;
}

.padding_left_15 {
  padding-left: 15px;
  padding-top: 0;
}

.list_style {
  list-style: none;
}

/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background: black;;
}

.main-nav-header {
  background-color: black;
  color: white;
}

.main-nav-header img {
  padding-left: 15px;
  padding-top: 20px;
  width: 70%;
}

.main-nav-header i {
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 15px;
}
.main-nav-header li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.search {
  padding-left: 3px;
}

a i.plus {
  font-size: 35px;
  vertical-align: middle;
  padding-right: 10px;
}


.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  font-size: 12px;
}

.main-nav-main li {
  margin: 10px 0;
}

.list_play {
  margin-top: 15px;
}


.playlist {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.main-nav-footer {
  /* background-color: brown; */
}

/* main content */
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}

.main-content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: orange;
  overflow-y: scroll;
}

.container_list {
  background-color: red;
  width: 100%;
  height: 80px;
  margin-top: 90px;
}

.container_top_content {
  text-align: center;
}

.container_top_content li  {
  padding: 0 10px;
  line-height: 80px;
}


.list_inline li {
  list-style: none;
  display: inline-block;
}

.container_first_song {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.container_first_song li img {
  width: 100%;
}

.container_first_song li h2 {
  width: 100%;
}

.container_first_song li {
  text-align: center;
  width: calc((100% / 6) - 5px);
  padding: 0 5px;
}

/* secondo container */

.container_second_song {
  justify-content: flex-start;
}

.container_first_song li {
  flex-basis: 190px;
  /* flex-basis: calc((100% / 6) -10px); */
}
/* footer */

.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}

@media screen and (max-width: 576px) {
  .container_first_song li {
    flex-wrap: wrap;
    /* flex-basis: calc(100% / 2); */
  }
  .container_first_song {
    justify-content: flex-start;
  }
}
