* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  min-width: 80%;
}

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.font_9 {
  font-size: 9px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}


.text_uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.margin_top_20 {
  margin-top: 20px;
}

.margin_left_5 {
  margin-left: 20px;
}

.margin_top_30 {
  margin-top: 30px;
}

.margin_top_50 {
  margin-top: 50px;
}

.radius_50 {
  border-radius: 50%;
}

.padding_left_15 {
  padding-left: 15px;
  padding-top: 0;
}

.list_style {
  list-style: none;
}

.color_grey {
  color: lightgrey;
}

.margin_left_9 {
  margin-left: 9px;
}

/* Flex */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* main nav */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  background: black;
}

.main-nav-header {
  background-color: black;
}

.main-nav-header img {
  padding-left: 15px;
  padding-top: 20px;
  width: 70%;
}

.main-nav-header i {
  /* color: white; */
  font-size: 20px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 15px;
}
.main-nav-header li a {
  text-decoration: none;
  /* color: white; */
  font-size: 12px;
}

.search {
  padding-left: 3px;
}

a i.plus {
  font-size: 35px;
  vertical-align: middle;
  padding-right: 10px;
}


.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  font-size: 12px;
}

.main-nav-main li {
  margin: 10px 0;
}

.list_play {
  margin-top: 15px;
}

.main-nav-header ul li a {
  color: lightgrey;
}

.playlist {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  color: white;
}

/* footer nav  */
.main-nav-footer {
  padding: 15px;
  font-size: 12px;
}

.main-nav-footer i {
  margin-right: 7px;
}

.main-nav-footer i {
  padding: 7px 7px 7px 0;
}
.main-nav-footer i.user {
  font-size: 24px;
  color: grey;
}

.main-nav-footer p {
  font-weight: 700;
  color: white;
}
/* main content */
.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  height: 90px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  font-size: 10px;
  color: white;
  border: 1px solid white;
  padding: 10px 35px;
  border-radius: 25px;
  margin-right: 30px;
  font-weight: 700;
}

.main-content {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #222326;
  /* background-color: #503750; */
  overflow-y: scroll;
}

.container_list {
  width: 100%;
  margin-top: 90px;
}

.container_list ul li {
  text-align: center;
  position:relative;
}

.container_top_content {
  text-align: center;
}

.container_top_content li  {
  padding: 0 10px;
  line-height: 80px;
  font-weight: 700;
}

.container_top_content li a {
  font-size: 12px;
  color: grey;
}
.list_inline li {
  list-style: none;
  display: inline-block;
}

.container_first_song li p {
  margin-top: 8px;
}

.container_first_song li h2 {
  margin-top: 8px;
}

.container_first_song {
  display: flex;
  flex-wrap: wrap;
}


.container_first_song li img {
  width: 100%;
}

.container_first_song li h2 {
  width: 100%;
}

.container_first_song li {
  text-align: center;
  width: calc((100% / 6) - 5px);
  padding: 0 10px;
}

.third_section h2 {
  margin-bottom: 10px;
}

.third_section p {
  margin-bottom: 30px;
}

.third_section ul li h2 {
  text-transform: capitalize;
}


/* secondo container */

.container_second_song {
  justify-content: flex-start;
}

.container_first_song li {
  flex-basis: 210px;
  /* flex-basis: calc((100% / 6) -10px); */
}
/* footer */

.footer {
  width: 100%;
  height: 90px;
  background-color: pink;
}

/* sezione hover */

.main-nav-header ul li:hover a,
.main-nav-header ul li:hover i {
  color: white;
}

.create_playlist a:hover i,
.create_playlist a:hover {
  color: white;
}

.main-nav-main ul li:hover {
  color: white;
  cursor: pointer;
}

.main-nav-footer a:hover {
  color: white;
}

/* sezione after */


.container_list ul li:active:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid lightgreen;
  width: 22px;
  bottom: 30px;
  left: calc(50% - 11px);
}

.container_list ul li:hover a {
  color: white;
}


/* sezione active */

.main-nav-header ul li:active,
.main-nav-header ul li:focus {
  border-left: 2px solid lightgreen;
}










/* media query */
@media screen and (max-width: 576px) {
  .container_first_song li {
    flex-wrap: wrap;
    /* flex-basis: calc(100% / 2); */
  }
  .container_first_song {
    justify-content: flex-start;
  }
}
